//fonts
@font-face {
    font-family: 'VT323';
    src: url('../font/VT323-Regular.ttf');
  }
//colors
$FacebookBlue: #4267B2;
$twitterBlue:#1DA1F2;
$linkedinBlue: #0077B5;
$githubBlack:#24292E;
$mainColor: rgba(237, 106, 90, 1);
$backcolor: rgba(252, 250, 249, 1);
$fontColor: rgba(51, 51, 51, 1);
$sectionTitleColor: rgba(54, 201, 198, 1);

$navbarColor:black;

html,body{
    margin:0;
    padding:0;
    width:100%;
    height: 100%;
}
body{
    background-image: url('../img/bodyBackground.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
}
//navbar
.navbar{
    position: absolute;
    width:100%;
    background-color: $navbarColor;
}
.navbarMenu{
    display: flex;
    flex-flow: row;
    width:75%;
    margin: auto;
    justify-content: space-around;
}
.navbarItem{
    list-style: none;
    margin: 1em; 
    a{
        text-decoration: none;
        color:$fontColor;
    }
}

//header
.header{
    height: 100vh;
    color:$fontColor;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(31, 28, 28, 0.452);
}
.centerHeader{
    width:75%;
}
h1{
    text-align: center;
    vertical-align: middle;
    font-size: 3em;
    color: $mainColor;
    font-family: 'VT323', monospace;
}
.name{
    margin-bottom: 15%;
    display:flex;
    justify-content: center;
}
.socialNetwork{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
//socialBtn
.socialButton{
    width:50px;
    height: 50px;
    border-radius: 50%;
    a{
        display: flex;
        width:100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: $backcolor;
    }
}

.facebookButton{
    background-color: $FacebookBlue;
}
.twitterButton{
    background-color: $twitterBlue;
}
.linkedinButton{
    background-color: $linkedinBlue;
}
.githubButton{
    background-color: $githubBlack;
}
//section
.sectionTitle{
    display: flex;
    justify-content: center;
    position: relative;
    background-color:$sectionTitleColor;
    color:$mainColor;
}

//presentation
.experiences{
    overflow: hidden;
    background-color: $backcolor;
}

.experiencesContent{
    display: flex;
    flex-direction: column;
}

//card

.itemCard{
    background-color: $fontColor;
    color:$backcolor;
    margin:30px;
    padding:30px;
    border-radius: 5px;
    text-align: center;
}


//debug
.debug{
    border:red solid 1px;
}

//responsive
@media only screen and (min-width:980px){
    //header
    .centerHeader{
        width:50%;
    }
    h1{
        font-size: 6em;
    }
    .socialButton{
        width: 70px;
        height: 70px;
        a{
            font-size: 2em;
        }
    }
    .experiencesContent{
        flex-direction: row;
        justify-content: center;
    }
    .itemCard{
        width:25%;
    }
    //itemCard

}