@font-face {
  font-family: 'VT323';
  src: url("../font/VT323-Regular.ttf"); }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  background-image: url("../img/bodyBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.navbar {
  position: absolute;
  width: 100%;
  background-color: black; }

.navbarMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  width: 75%;
  margin: auto;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.navbarItem {
  list-style: none;
  margin: 1em; }
  .navbarItem a {
    text-decoration: none;
    color: #333333; }

.header {
  height: 100vh;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(31, 28, 28, 0.452); }

.centerHeader {
  width: 75%; }

h1 {
  text-align: center;
  vertical-align: middle;
  font-size: 3em;
  color: #ed6a5a;
  font-family: 'VT323', monospace; }

.name {
  margin-bottom: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.socialNetwork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.socialButton {
  width: 50px;
  height: 50px;
  border-radius: 50%; }
  .socialButton a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none;
    color: #fcfaf9; }

.facebookButton {
  background-color: #4267B2; }

.twitterButton {
  background-color: #1DA1F2; }

.linkedinButton {
  background-color: #0077B5; }

.githubButton {
  background-color: #24292E; }

.sectionTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  background-color: #36c9c6;
  color: #ed6a5a; }

.experiences {
  overflow: hidden;
  background-color: #fcfaf9; }

.experiencesContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.itemCard {
  background-color: #333333;
  color: #fcfaf9;
  margin: 30px;
  padding: 30px;
  border-radius: 5px;
  text-align: center; }

.debug {
  border: red solid 1px; }

@media only screen and (min-width: 980px) {
  .centerHeader {
    width: 50%; }
  h1 {
    font-size: 6em; }
  .socialButton {
    width: 70px;
    height: 70px; }
    .socialButton a {
      font-size: 2em; }
  .experiencesContent {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .itemCard {
    width: 25%; } }
