html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  background-image: url("../img/bodyBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.navbar {
  position: absolute;
  width: 100%;
  background-color: rgba(43, 42, 42, 0); }

.navbarMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  width: 75%;
  margin: auto;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.navbarItem {
  list-style: none;
  margin: 1em; }
  .navbarItem a {
    text-decoration: none;
    color: white; }

.header {
  height: 100vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(31, 28, 28, 0.452); }

.center {
  width: 75%; }

h1 {
  text-align: center;
  vertical-align: middle;
  font-size: 3em;
  color: #40b9ff;
  font-family: 'VT323', monospace; }

@media only screen and (min-width: 980px) {
  .center {
    width: 50%; }
  h1 {
    font-size: 5em; } }

.name {
  margin-bottom: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.socialNetwork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.socialButton {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%; }
  .socialButton a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none;
    color: white; }

.facebookButton {
  background-color: #4267B2; }

.twitterButton {
  background-color: #1DA1F2; }

.linkedinButton {
  background-color: #0077B5; }

.githubButton {
  background-color: #24292E; }

.presentation {
  overflow: hidden;
  background-color: white; }

.sectionTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.presentationText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .presentationText p {
    width: 75%; }

.debug {
  border: red solid 1px; }
